@import "main";


#header{
    max-height:70vh;
    width: 100vw;
    overflow: hidden;
    border-radius: 0px;
}


h1, h2, h3{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

form, #ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


img {
    width: 100vw;
}


@media screen and (min-width: 700px) {
    .desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    img {
        width: 40vw;
        border-radius: 3vw;
    }
    
}


