@import "couleurs";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: montserrat;
}
input[type=text] {
    max-width: 40vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100px;
}

.bouton {
    padding: 10px;
    border: solid black 2px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 5px;
    &:hover{
        cursor: pointer;
    }
}

.boutonvert {
    @extend .bouton;
    background-color: #67FB64;
}

.boutonrouge {
    @extend .bouton;
    background-color: #C96969;
}


.lignearound {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}


.mobilehide{
    display: none;
    @media screen and (min-width: 700px){
        display: block;
    }
}

.waves{
    width: 100vw;
    display:block;
    border-radius: 0px;
}

label{
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
}



