$navresponsive : 1040px;
$gris : #E9E6EC;
$navgrisresponsive : #B7B7B7;




header {
  height: 100px;
  overflow: hidden;
  background-color: #E9E6EC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  border-bottom: solid black 2px ;
  z-index: 10;

  #herotext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  img {
    height: 100px;
  }

  a {
    
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;

    //display: none;
  }

  div.icon {  
  
   
  }

  svg {
    margin-right: 10px;
    height: 100px;
  }
}

#hero {
  display: flex;
  flex-direction: row;
  height: 100px;
  h1{
    font-size: 20px;
  }
  p{
    font-size: 20px;
  }
}








