$navresponsive : 1040px;
$gris : #E9E6EC;
$navgrisresponsive : #B7B7B7;



#hero {
  display: flex;
  flex-direction: row;
  height: 100px;
  h1{
    font-size: 20px;
  }
  p{
    font-size: 20px;
  }
}


#herotext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}




a {
text-decoration: none;
}

.container {
max-width: 1400px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

.header {
position: relative;
height: 50px;

height: 100px;
background-color: #E9E6EC;
position: fixed;
width: 100vw;
border-bottom: solid black 2px ;
z-index: 10;
}


.header .logo a {
color: #000;
text-decoration: none;
}

/* Mobile menu */
#menu-icon {
display: block;
position: absolute;
top: 10px;
right: 0;
color: #000;
text-decoration: none;
cursor: pointer;
opacity: 1;
padding-right: 10px;
height: 100px;
line-height: 50px;
font-size: 100px;
}

#menu-icon:hover {
opacity: 0.85;
text-decoration: none;
border: none;
}

.navbar {
float: none;
max-height: 0;
overflow: hidden;
-moz-transition: max-height 0.4s;
-o-transition: max-height 0.4s;
-webkit-transition: max-height 0.4s;
transition: max-height 0.4s;
}

.navbar .menu {
margin: 0;
padding: 0;
list-style-type: none;
}

.navbar .menu li {
list-style-type: none;
display: block;
background-color: #B7B7B7;
border: solid black 1px;
padding: 10px;

&:hover{
  background-color: #E9E6EC;
}
}

.navbar .menu li a {
display: block;
text-decoration: none;
color: #000;
padding: 0 0.8em;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-webkit-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.header .expand {
max-height: 20em;
}

@media only screen and (min-width: 1100px) {
.logo {
  margin-left: 0;
}

.navbar .menu li {
  background-color:#E9E6EC;
}

.logo,
.navbar {
  display: inline-block;
}

/* Mobile menu icon */
#menu-icon {
  display: none;
}

.navbar {
  float: right;
  max-height: none;
}

.navbar .menu li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  border: none;
}

.navbar .menu li a {
  display: block;
  border-bottom: 0;
  line-height:75px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  &:hover{
    background-color: #b4b0b8;
  }
}
}