@import "main";

@import "nav";




#calltoaction {
    border: solid black 1px;
    max-width: 500px;
    align-self: center;

    h3{
        font-size: calc(15px + 1.3vw);
        margin: 5px;
    }
}



h2{
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}


main {

    padding-top: 100px;

    #ctninfo {
        padding-top: 120px;
        background-color: #FFC3A0;
        

        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            background-color: #FFC3A0;
        }
    }


    #ctncalculateur{
        padding-top: 120px;
    }
    #formulairecalcalculateur{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #genderselect, #infospersoncalcul{
        display: flex;
        flex-direction: column;
    }

    #gender{
        width: 45vw;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctnactivite{
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            div {
                margin : 5px;
            }
        }
    }

    #calculateur {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #cadran {
        background-image: url("../images/cadran.jpg");
        background-size: cover;
        width: 150px;
        height: 150px;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #aiguille {
        
        width: 25px;
        transform: rotate(45deg);
    }

    #calltoaction{
        box-shadow: rgba(33, 61, 85, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        h3{
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    #ctaimg{
        margin: 20px;
        max-width: 160px;
        min-width: 80px;
        width: 40%;
    }
    #rejoindre{
        margin-top: 2vh;
    }
    #CTAright{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }


    #ctnhistorique{
        padding-top: 120px;
        background-color: #FFC3A0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #historiqueIMC, #historiqueBJ{
        background-color: #ffffff; 
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-self: center;
        overflow-x: scroll;
        border: solid black 1px;
        margin-bottom: 5vh;
        max-width: 100vw;
    }


    .col{
        display: flex;
        flex-direction: column;
        
    }
    #listeBJ{
        // overflow-x: scroll;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    li {
        min-width: 150px !important;
        text-align: center;
        list-style: none;
        
    }

}


footer {
    background-color: #7E6551;
    color: white;
    #footerlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;

        a {
            margin: 15px;
            color: white;
            text-decoration: none;
        }
    }
}



.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#descriptionIMC{
    width: 90%;
}
@media screen and (min-width: 1200px){
    .responsiveligne{
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div{
            //margin-left: 2vw;
            margin-right: 2vw;
        }
    }
    #gender{
        width: 20vw !important;
    }
}

#titreIMC{
    font-size: calc(15px + 1.7vw);
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

h2{
    font-size: calc(20px + 2vw);
}

.hidden{
    font-size: 0px;
}

.histo1 {
    margin-left: 30px;
    margin-top: 30px;
}