@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.maigre {
  color: blue;
}

.morbide {
  color: red;
}

.sévère {
  color: brown;
}

.modérée {
  color: orange;
}

.surpoid {
  color: #05FF00;
}

.normale {
  color: green;
}

* {
  font-family: montserrat;
}

input[type=text] {
  max-width: 40vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100px;
}

.bouton, .boutonrouge, .boutonvert {
  padding: 10px;
  border: solid black 2px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin: 5px;
}
.bouton:hover, .boutonrouge:hover, .boutonvert:hover {
  cursor: pointer;
}

.boutonvert {
  background-color: #67FB64;
}

.boutonrouge {
  background-color: #C96969;
}

.lignearound {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

.mobilehide {
  display: none;
}
@media screen and (min-width: 700px) {
  .mobilehide {
    display: block;
  }
}

.waves {
  width: 100vw;
  display: block;
  border-radius: 0px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#hero {
  display: flex;
  flex-direction: row;
  height: 100px;
}
#hero h1 {
  font-size: 20px;
}
#hero p {
  font-size: 20px;
}

#herotext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: relative;
  height: 50px;
  height: 100px;
  background-color: #E9E6EC;
  position: fixed;
  width: 100vw;
  border-bottom: solid black 2px;
  z-index: 10;
}

.header .logo a {
  color: #000;
  text-decoration: none;
}

/* Mobile menu */
#menu-icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  padding-right: 10px;
  height: 100px;
  line-height: 50px;
  font-size: 100px;
}

#menu-icon:hover {
  opacity: 0.85;
  text-decoration: none;
  border: none;
}

.navbar {
  float: none;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

.navbar .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .menu li {
  list-style-type: none;
  display: block;
  background-color: #B7B7B7;
  border: solid black 1px;
  padding: 10px;
}
.navbar .menu li:hover {
  background-color: #E9E6EC;
}

.navbar .menu li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 0.8em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header .expand {
  max-height: 20em;
}

@media only screen and (min-width: 1100px) {
  .logo {
    margin-left: 0;
  }

  .navbar .menu li {
    background-color: #E9E6EC;
  }

  .logo,
.navbar {
    display: inline-block;
  }

  /* Mobile menu icon */
  #menu-icon {
    display: none;
  }

  .navbar {
    float: right;
    max-height: none;
  }

  .navbar .menu li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    border: none;
  }

  .navbar .menu li a {
    display: block;
    border-bottom: 0;
    line-height: 75px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
  }
  .navbar .menu li a:hover {
    background-color: #b4b0b8;
  }
}
#calltoaction {
  border: solid black 1px;
  max-width: 500px;
  align-self: center;
}
#calltoaction h3 {
  font-size: calc(15px + 1.3vw);
  margin: 5px;
}

h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
}

main {
  padding-top: 100px;
}
main #ctninfo {
  padding-top: 120px;
  background-color: #FFC3A0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #ctninfo input {
  background-color: #FFC3A0;
}
main #ctncalculateur {
  padding-top: 120px;
}
main #formulairecalcalculateur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #genderselect, main #infospersoncalcul {
  display: flex;
  flex-direction: column;
}
main #gender {
  width: 45vw;
}
main .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .ctnactivite {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
}
main .ctnactivite div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main .ctnactivite div div {
  margin: 5px;
}
main #calculateur {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #cadran {
  background-image: url("../images/cadran.jpg");
  background-size: cover;
  width: 150px;
  height: 150px;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #aiguille {
  width: 25px;
  transform: rotate(45deg);
}
main #calltoaction {
  box-shadow: rgba(33, 61, 85, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
main #calltoaction h3 {
  text-align: center;
}
main #calltoaction p {
  text-align: center;
}
main #ctaimg {
  margin: 20px;
  max-width: 160px;
  min-width: 80px;
  width: 40%;
}
main #rejoindre {
  margin-top: 2vh;
}
main #CTAright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
main #ctnhistorique {
  padding-top: 120px;
  background-color: #FFC3A0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #historiqueIMC, main #historiqueBJ {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-self: center;
  overflow-x: scroll;
  border: solid black 1px;
  margin-bottom: 5vh;
  max-width: 100vw;
}
main .col {
  display: flex;
  flex-direction: column;
}
main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
main li {
  min-width: 150px !important;
  text-align: center;
  list-style: none;
}

footer {
  background-color: #7E6551;
  color: white;
}
footer #footerlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
footer #footerlinks a {
  margin: 15px;
  color: white;
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#descriptionIMC {
  width: 90%;
}

@media screen and (min-width: 1200px) {
  .responsiveligne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .responsiveligne div {
    margin-right: 2vw;
  }

  #gender {
    width: 20vw !important;
  }
}
#titreIMC {
  font-size: calc(15px + 1.7vw);
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: calc(20px + 2vw);
}

.hidden {
  font-size: 0px;
}

.histo1 {
  margin-left: 30px;
  margin-top: 30px;
}

/*# sourceMappingURL=profil.css.map */
