@import "main";


img {
    width: 100vw;
    max-height: 60vh;
}
#header{
    max-height:70vh;
    width: 100vw;
    overflow: hidden;
}


h1, h2, h3{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

form, #ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media screen and (min-width: 700px) {

    .desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
            max-width: 60vw;
            border-radius: 3vw;
            max-height: none;
            margin-left: 3vw;
            margin-right: 5vw;
        }
    }


}




.txtorange{
    color: orange;
}