@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.maigre {
  color: blue;
}

.morbide {
  color: red;
}

.sévère {
  color: brown;
}

.modérée {
  color: orange;
}

.surpoid {
  color: #05FF00;
}

.normale {
  color: green;
}

* {
  font-family: montserrat;
}

input[type=text] {
  max-width: 40vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100px;
}

.bouton, .boutonrouge, .boutonvert {
  padding: 10px;
  border: solid black 2px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin: 5px;
}
.bouton:hover, .boutonrouge:hover, .boutonvert:hover {
  cursor: pointer;
}

.boutonvert {
  background-color: #67FB64;
}

.boutonrouge {
  background-color: #C96969;
}

.lignearound {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

.mobilehide {
  display: none;
}
@media screen and (min-width: 700px) {
  .mobilehide {
    display: block;
  }
}

.waves {
  width: 100vw;
  display: block;
  border-radius: 0px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 100vw;
  max-height: 60vh;
}

#header {
  max-height: 70vh;
  width: 100vw;
  overflow: hidden;
}

h1, h2, h3 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

form, #ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .desktop img {
    max-width: 60vw;
    border-radius: 3vw;
    max-height: none;
    margin-left: 3vw;
    margin-right: 5vw;
  }
}
.txtorange {
  color: orange;
}

/*# sourceMappingURL=register.css.map */
