<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLifeMyDiet</title>
    <link href="/assets/style/acceuil.css" rel="stylesheet">
</head>
<body>
    <img id="header" src="/assets/images/AcceuilHeader.webp" alt="Bienvenue">


    <div class="desktop">

        <form action="/login" method="post">
            <h1>Me connecter</h1>

            <label for="login">Identifiant</label>
            <input type="text" name="login" id="login" required>
            <label for="password">Mot de passe</label>
            <input type="text" name="password" id="password" required>
            <button class="boutonvert" type="submit">Se connecter</button>

            <img class="mobilehide" src="/assets/images/connection.jpg" alt="Connectez vous !">
        </form>
        
        <div id="ctn">
            <h2>Je n'ai pas de compte</h2>

            <img src="/assets/images/nocompte.jpg" alt="Oh no !">
        
            <h3>C’est pas grave !</h3>
            <p>Créer un compte ci dessous
                et toi aussi rejoins
                <span class="modérée">Cecile</span> et <span class="surpoid">Sophie </span>
                pour prendre soin de toi !</p>
        
            <a class="boutonrouge" href="/register">Créer un compte</a>
        </div>
    </div>


    <img class="waves" src="/assets/images/waves2.svg" alt="waves">
</body>
</html>