<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon profil</title>
    <link href="/assets/style/profil.css" rel="stylesheet">
</head>
<body>
    
      
      <div class="header">
        <div class="container">
          <div class="logo">
            <div id="hero">
              <img src="/assets/images/nav.png" alt="Coucou">
                <div id="herotext">
                    <h1>My life, my diet</h1>
                    <div>Navigation rapide !</div>
                </div>
            </div>
          </div>
          <a id="menu-icon">&#9776;</a>
          <nav class="navbar">
            <ul class="menu">
              <li><a href="#ctninfo">Informations personnelles</a></li>
              <li><a href="#ctncalculateur">Super Calculateur</a></li>
              <li><a href="#ctnhistorique">Mon historique</a></li>
              <li><a href="/logout">Déconnection</a></li>
            </ul>
          </nav>
      
        </div>
      </div>


    

    
    <main>
        
        
        <form id="ctninfo" action="/updateaccount" method="post">
            <h2>Informations personnelles</h2>

            <div class="lignearound">
                <label class="hidden" for="nom">Nom</label>
                <input type="text" name="nom" id="nom" value="<%= session.user.nom %>" required>
                <label class="hidden" for="prenom">prenom</label>
                <input type="text" name="prenom" id="prenom" value="<%= session.user.prenom %>" required>
            </div>

            <div class="lignearound">
                <label class="hidden" for="datenaissance">date de naissance</label>
                <input type="date" name="datenaissance" id="datenaissance" value="<%= session.user.datenaissance %>" required>
                <label class="hidden" for="email">email</label>
                <input type="text" name="email" id="email" value="<%= session.user.email %>" required>
            </div>

            <div class="lignearound">
                <button class="boutonvert" type="submit">Modifier</button>

                <a class="boutonrouge" href="/deleteAccount">Supprimer</a>
            </div>

        </form>

        <img class="waves" src="/assets/images/waves1.svg" alt="waves">

        
        <form id="ctncalculateur" action="/updateresults" method="post">

            <h2>Super calculateur</h2>

            <div id="formulairecalcalculateur">


                <div class="responsiveligne">

                    <div class="col">

                    
                <div class="lignearound">
                    <div id="genderselect">
                        <img id="gender" src="/assets/images/homme.png" alt="" data-isMan="1">
                        <input id ="genderinput" type="hidden" name="gender">
                    </div>
                    <div id="infospersoncalcul">
                        
                        <label for="taille">Taille (en cm) : </label>
                        <input type="number" min="0" name="taille" id="taille" value="1" required>
    
                        <label for="poids">Poids (en Kg): </label>
                        <input type="number" min="0"  name="poids" id="poids" value="0" required>
    
                        <label for="age">Age : </label>
                        <input type="number" min="0"  name="age" id="age" value="15" required>
                    </div>
                </div>

            
                <div class="center ctnactivite">
                    <p>Niveau d'actitivé</p>
    

                <!-- <div class="radio" id="sedentaire">Sédentaire</div>
                <div class="radio" id="actiffaible">Actif faible</div>
                <div class="radio" id="actif">Actif</div>
                <div class="radio" id="sportif">Sportif</div> -->

               
                    <div class="ctnactivite">
                        <div>
                            <div>
                                <input type="radio" id="sedentaire" name="niveauActivite" value="sedentaire">
                                <label for="sedentaire">Sédentaire</label>
                            </div>
                          
                            <div>
                                <input type="radio" id="actiffaible" name="niveauActivite" value="actiffaible">
                                <label for="actiffaible">Actif faible</label>
                            </div>

                        </div>
                        
                        <div>
                            <div>
                                <input type="radio" id="actif" name="niveauActivite" value="actif">
                                <label for="actif">Actif</label>
                            </div>
          
                            <div>
                                <input type="radio" id="sportif" name="niveauActivite" value="sportif">
                                <label for="sportif">Sportif</label>
                            </div>
                        </div>
                        

                    </div>
                </div>
                </div>    
                
            <div id="calculateur">

                <div id="calculateursgauche">
                    <h3 id="titreIMC">IMC</h3>

                    <div id="displayIMC">26.8</div>
                    <input type="text" name="IMC" id="resultatIMC" value="0" hidden required>
                    <div id="descriptionIMC">Vous êtes considéré comme étant en surpoid</div>
    
                    <h3>Besoin journalier</h3>
                    <div id="displayBJ" class="maigre">26.8</div>
                    <input type="text" name="BJ" id="resultatBJ" value="0" hidden required>

                </div>
                
                <div id="calculateurdroite">
                    <div id="cadran">
                        <img id ="aiguille" src="/assets/images/aiguille.png" alt="aiguille">
                    </div>
                    <!-- <img id="cadran" src="/assets/images/cadran.jpg" alt="cadran"> -->
                    

                    <button class="boutonrouge" type="submit">Enregistrer mes resultats</button>
                </div>

            </div>

        </div>

            <div id="calltoaction">

                <h3 class="modérée">Comment améliorer mon résultat</h3>
                <p>et sans me priver !!!</p>

                <div class="lignearound">
                    <img id="ctaimg" src="/assets/images/CTA.png" alt="">
                    <div id="CTAright">
                        <p>Faite comme <span class="surpoid">Sophie</span> et rejoignez notre <span class="surpoid">service d'accompagnement</span></p>
                        <a id="rejoindre" class="boutonvert" href="">Rejoindre</a>
                    </div>
                    
                </div>
                

                

            </div>

        </div>
        </form>

        <img class="waves" src="/assets/images/waves2.svg" alt="waves">

        <div id="ctnhistorique">
            <h2>Mon historique</h2>
            
            <div id="historiqueIMC">
                <div class="histo1">IMC</div>
                <div class="col">
                <ul id="listevaluesIMC">
                    <% historiques.forEach( e => { %>
                        <li> <%= e.imc %></li>
                    <% }); %>
                </ul>
                <ul id="listeprogressIMC">
                    <% historiques.forEach( e => { %>
                        <li>
                            <img src="/assets/images/empty.png" alt="none">
                        </li>
                    <% }); %>

                </ul>
                </div>

            </div>
            <div id="historiqueBJ">
                <div class="histo1"> <div>Besoin</div> <div>journalier</div> </div>
                <ul id="listeBJ">
                    <% historiques.forEach( e => { %>
                        <li class="maigre"> <%= e.besoinjournalier %></li>
                    <% }); %>
                </ul>
            </div>

        </div>

    </main>

    <footer>
        <h2>My life, my diet</h2>
        <div id="footerlinks">
            <a href="">Contact</a>
            <a href="">Mentions légales</a>
        </div>
        
    </footer>

    <script>
        let resHistoriques = `<%- JSON.stringify(historiques) %>`
        let dataHistoriques = JSON.parse(resHistoriques)
        console.log(dataHistoriques)
        
    </script>
    <script src="./assets/scripts/profil.js"></script>
    <script>
        
        let date = `<%- session.user.datenaissance %>`
        let année = parseFloat(date.slice(0, 4));
        let mois = parseFloat(date.slice(5, 7));
        let jour = parseFloat(date.slice(8));

        let valueage = returnage(année, mois, jour)
        document.getElementById('age').setAttribute("value", valueage) 

        let valuegender = `<%- session.user.sexe %>`
        let valuetaille = `<%- session.user.dernieretaille %>`
        let valuepoid = `<%- session.user.dernierpoid %>`
        let valueactivite = `<%- session.user.niveauactivite %>`
        
        genderinput.setAttribute("value", valuegender) 
        document.getElementById('taille').setAttribute("value", valuetaille) 
        document.getElementById('poids').setAttribute("value", valuepoid) 
        
        switch (valueactivite) {
            case "0" :
            document.getElementById("sedentaire").checked = true;
                break;
            case "1" :
            document.getElementById("actiffaible").checked = true;
                break;
            case "2" :
            document.getElementById("actif").checked = true;
                break;
            default:
            document.getElementById("sportif").checked = true;
        }
        // // sedentaire


        if(valuegender == 0){
            gender.setAttribute("src", "/assets/images/femme.png")
            gender.setAttribute("data-isMan", "0")
        }
        updateBoth()
    </script>
</body>
</html>