<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de votre compte</title>
    <link href="/assets/style/register.css" rel="stylesheet">

</head>
<body>
    <div class="desktop">
        <img src="/assets/images/Register.jpg" alt="Coucou!">
        <div>
            <h1>Salut</h1>
            <h2>Moi c'est <span class="surpoid">Sophie</span></h2>
            <p>Remplit les champs ci dessous
        et je m’occuperais de la création de ton compte</p>

            <form action="/register" method="post">
                <h2 class="modérée">Mes identifiants souhaités</h2>
                
                <label for="login">Identifiant</label>
                <input type="text" name="login" id="login" required>

                <label for="password">Mot de passe</label>
                <input type="text" name="password" id="password" required>


                <h2 class="modérée">Qui je suis</h2>
                
                <label for="nom">Nom : </label>
                <input type="text" name="nom" id="nom" required>

                <label for="prenom">Prénom : </label>
                <input type="text" name="prenom" id="prenom" required>

                <label for="datenaissance">Date de naissance : </label>
                <input type="date" name="datenaissance" id="datenaissance" required>

                <label for="email">Mail : </label>
                <input type="text" name="email" id="email" required>

                <button class="boutonvert" type="submit">Let's go !</button>
            </form>
        </div>
    </div>
    


    
    <img class="waves" src="/assets/images/waves2.svg" alt="waves">
    <script>
        document.getElementById('datenaissance').max = new Date().toISOString().split("T")[0];
    </script>
</body>
</html>